# Dependencies & build
bhavya-portfolio/node_modules
bhavya-portfolio/.next
bhavya-portfolio/out

# Logs & env
*.log
.env*
bhavya-portfolio/.env*

# OS & editors
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Vercel / TS
bhavya-portfolio/.vercel
bhavya-portfolio/*.tsbuildinfo
